<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
</head>
<body>
  {{> header}}

  <p>List of projects</p>
  <ul>
    <li>project 1</li>
    <li>project 2</li>
  </ul>

  {{> footer}}
</body>
</html>